<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


<div id="app">

    {{range .Services}}
    <div>
        <h3>{{.Name}}</h3>

        <h2>Handlers</h2>

        {{range .Handlers}}
        <p> Route {{.Route}} </p>

        <strong> Cases </strong>

        {{range .Cases}}

        <p> Condition <strong> {{.Tag}} </strong> </p>

        {{if .RequestBody}}

        <p> Request Body <strong>{{.RequestBody}}</strong> </p>

        {{ end }}

        <p> Response Body <strong> {{.ResponseBody}}</strong> </p>
        {{ end }}
        {{end}}
    </div>
    {{end}}
</div>

</body>
</html>